
<!DOCTYPE html>
<html lang="en" class="sr">
  <head>
    <meta charset="utf-8" />
    <%# <meta http-equiv="X-UA-Compatible" content="IE=edge" /> %>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/png" href="assets/favicon.png" />

    <!-- Todo: put here your site title -->
    <title>Jordanna | Web Developer</title>
    <!-- Todo: add some coding keywords below - e.g: (javascript, yourusername, etc) -->
    <meta name="keywords" content="Jordanna, [name], skill" />
    <!-- Todo: improve your SEO by adding a small description of you -->
    <meta name="description" content="Jordanna | Developer" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="styles.scss" />
    <script
      defer
      src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"
    ></script>

  </head>

  <!-- Todo: read the following HTML Todos to create your stunning portfolio website -->
  <body>
    <div id="top"></div>

    <!-- **** Hero Section **** -->


    <section id="hero" class="jumbotron">

        <div class="container">

          <div class="menu text-end">
            <a href="#about" class="btn btn-primary1">A PROPOS </a>
            <a href="#projects" class="btn btn-primary1">PROJETS</a>
            <a href="#contact" class="btn btn-primary1">CONTACT </a>
            <a href="/" class="btn btn-primary1">ENGLISH </a>
          </div>

        <div class="container2">
          <div class="part1">
            <h1 class="hero-title load-hidden">
              Bonjour, je m'appelle <span class="text-color-main">Jordanna.</span>
              <br />
              Je suis Développeuse Web.
            </h1>
          <br>
          <p class="hero-cta load-hidden">
            <a rel="noreferrer" class="cta-btn cta-btn--hero btn btn-primary" href="#about">En savoir plus</a>
         </p>

            </div>
          <div class="part2">
            <%= image_tag "pic.gif", alt: "Profile Image", width: "380px", class: "img-fluid1 " %>
          </div>
        </div>

      </div>
    </section>
    <!-- /END Hero Section -->

    <!-- **** About Section **** -->
    <section id="about">
      <div class="container">
        <h2 class="section-title load-hidden">A PROPOS</h2>
        <div class="row about-wrapper">
          <div class="col-md-6 col-sm-12">
            <div class="about-wrapper__image load-hidden">
              <%= image_tag "profile.jpg", alt: "Profile Image", height: "auto", width: "560px", class: "img-fluid rounded shadow-lg" %>

            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <div class="about-wrapper__info load-hidden">
              <p class="about-wrapper__info-text">
                J'ai grandi dans la ville Lumière, à Paris, où j'ai suivi une carrière de juriste.

                <br>
                Au cours des dernières années, l'envie de changer de contexte et de plonger davantage dans le monde de la technologie s'est renforcée.
                <br>
                En 2022, j'ai obtenu mon diplôme du leader mondial de formation de Développement Full-stack, Le Wagon. Après d'autres études et projets, j'ai décidé de concentrer mes compétences dans le Développement Front-end et Back-end, en créant des composants fonctionnels et des sites Web avec flair et précision.
                <br>
                Mon ambition est de continuer à développer mes compétences en Développement Web tout en travaillant dans un nouvel environnement passionnant où je suis quotidiennement mise au défi.
                <br>
                Avant d'être Développeuse, je travaillais chez SAMSUNG ELECTRONICS FRANCE en tant que Product Liabiliy Manager.
              </p>
              <p class="about-wrapper__info-text">
                Lorsque je ne code pas, vous me trouverez en train de danser (du Street Jazz ou du Hip Hop) dans un Studio de danse, de faire des Escape Games avec des amis ou ma famille et d'assister à des concerts.

              </p>
              <span class="d-flex mt-3">
              <%= link_to "Voir CV", "https://drive.google.com/file/d/19tD2kT0a6lC_dAes4kx6X6Z64PpWo9aS/view?usp=sharing", class:"btn btn-primary", target:"_blank" %>

                <%# <a
                  rel="noreferrer"
                  target="_blank"
                  class="cta-btn cta-btn--resume btn btn-primary"
                  href="assets/resume.pdf"
                >
                  View Resume
                </a> %>
              </span>


            </div>
          </div>
        </div>

        <div class="fleche1">
        <a rel="noreferrer" href="#top" class="back-to-top">
          <i class="fa fa-angle-up fa-2x" aria-hidden="true"></i>
        </a>
        </div>
      </div>
    </section>
    <!-- /END About Section -->

    <!-- **** Projects Section **** -->
    <section id="projects">
      <div class="container">
        <div class="project-wrapper">
          <h2 class="section-title dark-blue-text">PROJETS</h2>

         <!-- Notice: each .row is a project -->
          <div class="row">
            <div class="col-lg-4 col-sm-12">
              <div class="project-wrapper__text load-hidden">
                <h3 class="project-wrapper__text-title">One Night Star</h3>
                <div>
                  <p>
                    Markeplace évènementielle pour trouver et réserver des évenements avec des célébrités (basée sur le modèle d'Airbnb)
                  </p>
                  <p class="list-job">
                    J'ai principalement travaillé sur:
                    <ul>
                      <li>le calendrier pour effectuer des réservations</li>
                      <li>la barre de recherche interne pour trouver des services</li>
                      <li>le front-end: CSS sur la plupart des pages, application responsive</li>
                      <li>la page de connexion</li>
                      <li>le back-end: la page d'accueil, le tableau de bord, la page de l'ensemble des services, la barre de navigation, le pied de page</li>
                    </ul>
                  </p>
                </div>
                <a
                  rel="noreferrer"
                  target="_blank"
                  class="cta-btn cta-btn--hero btn btn-primary"
                  href="https://one-night-star.herokuapp.com/"
                >
                  Voir en direct
                </a>
                <a
                  rel="noreferrer"
                  target="_blank"
                  class="cta-btn text-color-main"
                  href="https://one-night-star.herokuapp.com/"
                >
                   <!--Source Code -->
                </a>
              </div>
            </div>
            <div class="col-lg-8 col-sm-12">
              <div class="project-wrapper__image load-hidden">
                <a rel="noreferrer" href="https://one-night-star.herokuapp.com/" target="_blank">
                  <div
                    data-tilt
                    data-tilt-max="4"
                    data-tilt-glare="true"
                    data-tilt-max-glare="0.5"
                    class="thumbnail rounded js-tilt"
                  >
                    <%= image_tag "onenight.jpg", alt: "Project Image", class: "img-fluid rounded shadow-lg" %>

                  </div>
                </a>
              </div>
            </div>
          </div>
          <!-- /END Project -->

          <!-- Notice: each .row is a project -->
          <div class="row">
            <div class="col-lg-4 col-sm-12">
              <div class="project-wrapper__text load-hidden">
                <h3 class="project-wrapper__text-title">Beennie</h3>
                <div>
                  <p>
                    Une application mobile pour acheter des plantes et recevoir des conseils des autres utilisateurs de l'application
                  </p>
                  <p class="list-job">
                    J'ai principalement travaillé sur:
                    <ul>
                      <li>le chatroom interne pour les utilisateurs</li>
                      <li>la barre de recherche interne pour trouver des</li>
                      <li>l'ajout de plantes en Favoris dans le dashboard</li>
                      <li>le front-end: CSS sur toutes les places, application responsive</li>
                      <li>la page de connexion</li>
                      <li>le back-end: la page d'accueil, la page de l'ensemble des plantes, la page de détails d'une plante, la barre de navigation, le pied de page</li>
                    </ul>
                  </p>
                </div>
                <a
                  rel="noreferrer"
                  target="_blank"
                  class="cta-btn cta-btn--hero btn btn-primary"
                  href="http://www.beennie.com/"
                >
                  Voir en direct
                </a>
                <a
                  rel="noreferrer"
                  target="_blank"
                  class="cta-btn text-color-main"
                  href="http://www.beennie.com/"
                >
                  <!--Source Code -->
                </a>
              </div>
            </div>
            <div class="col-lg-8 col-sm-12">
              <div class="project-wrapper__image3 load-hidden">
                <a rel="noreferrer" href="http://www.beennie.com/" target="_blank"><div class="thumbnail rounded js-tilt"><%= image_tag "beenie.jpg", alt: "Project Image", height: "371px", class: "img-fluid rounded shadow-lg b1" %><%= image_tag "beenie1.jpg", alt: "Project Image", height: "371px", class: "img-fluid rounded shadow-lg b2" %><%= image_tag "beenie2.jpg", alt: "Project Image", height: "371px", class: "img-fluid rounded shadow-lg b3" %>
                  </div></a>
              </div>
            </div>
          </div>
          <!-- /END Project -->



          <!-- Notice: each .row is a project -->
          <div class="row">
            <div class="col-lg-4 col-sm-12">
              <div class="project-wrapper__text load-hidden">
                <h3 class="project-wrapper__text-title">Shroom'Kart</h3>
                <div>
                  <p class="mb-4">
                    Une application pour louer des Karts (basée sur le modèle d'Airbnb)
                    </p>
                    <p class="list-job">
                    J'ai principalement travaillé sur:
                      <ul>
                      <li>la barre de recherche interne pour trouver des Karts</li>
                      <li>le front-end: CSS, application responsive</li>
                      <li>le back-end: la page d'accueil, la page de l'ensemble des Karts, la page de détails d'un Kart, la barre de navigation, le pied de page</li>
                      </ul>
                  </p>
                </div>
                <a
                  rel="noreferrer"
                  target="_blank"
                  class="cta-btn cta-btn--hero btn btn-primary"
                  href="https://shroomkart-ludomino.herokuapp.com/"
                >
                  Voir end direct
                </a>
                <a
                  rel="noreferrer"
                  target="_blank"
                  class="cta-btn text-color-main"
                  href="https://shroomkart-ludomino.herokuapp.com/"
                >
                   <!--Source Code -->
                </a>
              </div>
            </div>
            <div class="col-lg-8 col-sm-12">
              <div class="project-wrapper__image load-hidden">
                <a rel="noreferrer" href="https://shroomkart-ludomino.herokuapp.com/" target="_blank">
                  <div
                    data-tilt
                    data-tilt-max="4"
                    data-tilt-glare="true"
                    data-tilt-max-glare="0.5"
                    class="thumbnail rounded js-tilt"
                  >

                    <%= image_tag "shroom.jpg", alt: "Project Image", class: "img-fluid rounded shadow-lg" %>

                  </div>
                </a>
              </div>
            </div>
          </div>
          <!-- /END Project -->
        </div>
      </div>
      <div class="fleche2">
        <a rel="noreferrer" href="#top" class="back-to-top">
          <i class="fa fa-angle-up fa-2x" aria-hidden="true"></i>
        </a>
        </div>
    </section>

    <!-- /END Projects Section -->

    <!-- **** Contact Section **** -->
    <section id="contact">
      <div class="container">
        <h2 class="section-title">CONTACT</h2>
        <div class="contact-wrapper load-hidden">
          <p class="contact-wrapper__text">Vous avez une question, une idée, envie de travailler ensemble?</p>
          <a
            rel="noreferrer"
            target="_blank"
            class="cta-btn cta-btn--resume btn btn-primary"
            href="mailto:j.pensieri@gmail.com"
            >Me contacter</a
          >
        </div>
      </div>

    <!-- /END Contact Section -->

    <!-- **** Footer Section **** -->
      <footer class="footer navbar-static-bottom">
        <div class="container">
          <div class="social-links">
            <a href="mailto:j.pensieri@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i></a>
            <a href="http://www.linkedin.com/in/jordanna-pensieri" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="https://github.com/jordannap" target="_blank"><i class="fa fa-github"></i></a>

          </div>
        </div>
      </footer>
    </section>

        <!-- Notice: if you want to give me some credit, it will be huge for me! if not, put your data on it
        <p class="footer__text">
          © 2022 -
          <a rel="noreferrer" href="https://github.com/cobidev" target="_blank"
            >Jordanna</a
          >
        </p>
      -->


  </body>
</html>
